$gridi-components-navbar-logo-max-height: ($gridi-components-navbar-height - 25px) !default;
//Defined logo max height for each screens.
$gridi-components-navbar-logo-max-height-for-screens: (
    s5: (map_get($gridi-components-navbar-height-for-screens, s5) - 35px)
) !default;

$gridi-components-navbar-logo-alt-font-family: null !default;
$gridi-components-navbar-logo-alt-font-size: 1.6em !default;
//Defined logo alt font size for each screens.
$gridi-components-navbar-logo-alt-font-size-for-screens: (
    s5: 2em,
) !default;

$gridi-components-navbar-logo-alt-line-height: normal !default;
//Defined logo alt line-height for each screens.
$gridi-components-navbar-logo-alt-line-height-for-screens: () !default;
/*
$gridi-components-navbar-logo-alt-line-height-for-screens: (
    s1: 2em,
    ...
) !default;
*/
$gridi-components-navbar-logo-alt-color: null !default;
